.res-box{
    background-color: #bde2e2;
    height: 300px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.res-btn{
    background: none;
    border: none;
    font-size: 32px;
    color: #f50707;
}